/*body {
    margin: 60px auto;
    width: 70%;
}*/
nav {
  border-bottom: 1px solid #d5d5d5;
  border-top: 1px solid #d5d5d5;
}
nav ul {
  font-size: 1.5em;
  font-family:'Lora', serif;
  padding: 0px;
  list-style: none;
  text-align:center;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
  color: #009900;
}
h1 {
  font-size: 3em;
  font-family:'Lora', serif;
  font-weight: 700;
  padding: 0;
}

h2 {
  font-size: 2em;
  font-family:'Lato', sans-serif;
  color: #009900;
}

h3.copyright {
  font-size: 1.25em;
  font-family:'Lora', serif;
  font-weight: 400;
  color: #999;
}

h1 a{
  text-decoration: none;
}
p {
  font-size: 1.5em;
  line-height: 1.4em;
  font-family:'Lato', sans-serif;
  color: #333;
}

p.working{
  text-align:center;
}
header, footer {
  margin: 60px auto;
  width: 80%;
  text-align:center;
}
.container {
  margin: 60px auto;
  width: 80%;
}
header.working {
  border-bottom: 1px solid #d5d5d5;
}

footer {
  border-top: 1px solid #d5d5d5;
}
ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}
.img-circle {
  width: 200px;
	height: 200px;
  border-radius: 50%;
}
.left {
  float: left;
  margin-right: 50px;
}
.right {
  float: right;
  margin-left: 20px;
}

.img-big-circle {
  width: 450px;
	height: 450px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.blurb ul li{
  font-size: 1.5em;
  line-height: 1.4em;
  font-family:'Lato', sans-serif;
  color: #333;
}

.post_title {
  font-size: 2.3em;
  line-height: 0em;
  font-family:'Lora', serif;
  text-align: center;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}
h3 {
  font-size: 1.7em;
  font-family:'Lora', serif;
  color: #009900;
  font-weight: 700;
}
.posting {
  margin: 60px auto;
  width: 60%;
  color: #999;
}
.posting p {
  color: black;
  text-align: justify;
  font-size: 1.25em;
}

p.date {
  font-size: 1.2em;
  font-family:'Lora', serif;
  color: #999;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.posting li {
  font-family:'Lato', sans-serif;
  color: black;
  text-align: left;
  font-size: 1.25em;
}

.post-listings {
  text-align: left;
  width: 40%;
}

.image {
  border: 2px solid black;
  text-align:center;
  margin: 20px auto;
  width: 100%;
}

/*.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(images/bear.png) no-repeat;
	}*/
