<br>
<footer>
  <ul>
    <li><a href="mailto:erinna...chen@gmail.com"><img src="/images/mail.png" atr="mail logo from: http://tomswebspace.com/round-social-media-icons/" width = 45px></a></li>
    <li><a href="https://github.com/erinnachen" target="_blank"><img src="/images/github.png" atr="github logo from: http://tomswebspace.com/round-social-media-icons/" width = 45px></a></li>
    <li><a href=https://twitter.com/intheerinna target="_blank"><img src="/images/twitter.png" atr="twitter logo from: http://tomswebspace.com/round-social-media-icons/" width = 45px></a></li>
  </ul>
  <h3>&nbsp;&nbsp;&copy; 2016 Erinna Chen</h3>
</footer>
</body>
</html>
