<!DOCTYPE html>
<html>
	<head>
    <title>{{ page.title }}</title>
		<!-- <title>Erinna Chen, Ph.D.</title> -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	</head>
	<body>
    <header >
      <h1 class = "name"><a href="/">Erinna Chen, Ph.D.</a></h1>
		  <nav>
    		<ul>
      		<li><a href="blog.html">&nbsp;&nbsp;&nbsp;&nbsp;Blog</a></li>
          <li><a href="working.html">Publications</a></li>
          <li><a href="https://github.com/erinnachen">Projects</a></li>
    		</ul>
		  </nav>
    </header>
